body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #DFDFD7;
    color: #333333;
}

header {
    background-color: #DFDFD7;
    color: #DF5700;
    z-index: 1000;
}

.logo {
    text-align: right;
    margin-right: 20px;
    font-size: 6em;
    font-weight: bold;;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
}

nav ul li {
    margin-top: 20PX;
    text-align: left;
    margin-left: 20px;
}

nav ul li a {
    color: #333333;
    font-weight: bold;
    font-size: 2em;
}

nav ul li a:hover {
    color:#DF5700;
}

#welcome {
    text-align: right;
    padding: 150px 20px;
    background-color: #DFDFD7;
    position: relative;
}

#welcome h2 {
    font-size: 3em;
    font-weight: bold;
    color: #DF5700;
    margin: 0;
}


#about {
    padding: 80px 40px;
    background-color: #DFDFD7;
}

.about-container {
    max-width: 900px;
    margin: 0 auto;
    text-align: left;
}

#about h2 {
    color: #DF5700;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: right;
}

#about p {
    color: #DF5700;
    margin-bottom: 20px;
    line-height: 1.8;
    font-size: 1.3em;
}

#works {
    padding: 80px 40px;
    background-color: #DFDFD7;
}

#works h2 {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 40px;
}

.gallery {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.category {
    text-align: center;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.images {
    display: flex;
    overflow: hidden;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.image {
    min-width: 400px;
    height: 250px;
    background-color: #333333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.2em;
}

button.prev, button.next {
    background: none;
    border: none;
    font-size: 2.5rem;
    cursor: pointer;
    color: #DF5700;
}


#contacts {
    padding: 80px 40px;
    background-color: #DFDFD7;
}

#contacts h2 {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 20px;
}

#contacts p {
    text-align: center;
    margin-bottom: 15px;
    font-size: 1.1em;
}

#contact-form {
    max-width: 600px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#contact-form label {
    font-weight: bold;
    font-size: 1.1em;
}

#contact-form input, #contact-form textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #333333;
    border-radius: 5px;
    font-size: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#contact-form button {
    background-color: #DF5700;
    color: white;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

#contact-form button:hover {
    background-color: #333333;
    color: #DF5700;
}